.aboutMe{
  display: flex;
  margin-right: 48px;
    font-size: 20px;
    color: #7c6821;
}
h4{
    padding-right: 20px;
    color:  rgb(10, 8, 123);;
}
.animation{
    overflow:hidden;
    height:55px;
    
}

li{
    height:45px;
    margin-bottom: 45px;
    display: block;
}
.aboutMeList{
animation: aboutMeList 6s cubic-bezier(0.28,1,0.30,1.2)infinite;
}

@keyframes aboutMeList{
    0% { margin-top: -360px; }
    15%{margin-top:-360px;}
    25%{margin-top:-200px;}
    30% { margin-top: -180px; }
    45% { margin-top: -180px; }
    60% { margin-top: -90px; }
    80% { margin-top: 0px; }
    100% { margin-top: -270px; }
  }
  @media only screen and (min-width: 768px){
    .aboutMe{
        display: flex;
        margin-right: 48px;
          font-size: 30px;
          color: #7c6821;
      }
      h4{
          padding-right: 30px;
        
      }
      .animation{
          overflow:hidden;
          height:55px;
          
      }
      
      li{
          height:45px;
          margin-bottom: 45px;
          display: block;
      } 
}