
.wrapper{
 display:flex;
 flex-flow:row wrap;
 align-items:center;
 justify-content: center;
gap:30px;
height:100vh;
  background-color: antiquewhite;
}


.profilePicture{
    height:200px;
    width:200px;
   margin:auto;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 2px 15px 2px rgb(10, 8, 123);
border-radius: 50%;
   
 
   
}
.aboutContent{
    padding:5px;
    width:250px;
    margin-top:60px;
    height:200px;
    margin-bottom: 350px;
  
}

h2{
    margin-bottom:25px;
    font-size:50px;
    color: #7c6821;
    text-shadow: 1.5px 1px rgb(10, 8, 123);
}

.text{
    margin-bottom: 15px;
    color:  rgb(10, 8, 123)
}

a:hover {
    color: #7c6821;
    text-decoration: underline;
    font-size: 20px;

 }

 .skills{
    background-color:rgb(10, 8, 123);
    min-height:110%;
    width:100vw;
    display:grid;
    justify-content:center;
    flex-flow:row wrap;
    justify-content:space-around;
    align-items:center;
    grid-template-columns: repeat(2,1fr);
 }

 .skills h2{
    margin-top: -75px;
    padding: 20px;   
 }

 h1{
    padding: 10px
 }

 .titleSkills{
   grid-column:1/-1;
   text-align: center;
 }

 .skill-images {
    margin-top: -250px;
 display: flex;
align-items: center;
justify-content:center;
    color:antiquewhite;
    width:100%
    
 }

.postgres{
   height:3em;
   width:3em;
   display:flex; 
   flex-direction: wrap;
  margin-top: -260px;
 padding-left:30px;  
}



.postgres h1{
    padding: 5px;
    color:antiquewhite
}

@media only screen and (min-width: 768px){
    .skills{
        grid-template-columns: repeat(4,1fr);    
    }
    .skills-image{
        gap: 2px;
    }
    .profilePicture{
        height:337.5px;
        width:337.5px;
        box-shadow: 0px 2px 15px 2px rgb(10, 8, 123);
        border-radius: 50%;
        }
        
        .aboutContent{
        width:375px;
        padding:9.375px;
        border-radius:6px;
        
        }
        .skills h2{
            margin-top: -125px;
            padding: 20px;   
         }
    }

/* 
 .wrapper{
    display:flex;
 align-items:center;
 justify-content:center;
 gap: 1.5 px;
height:100vh;
 margin:auto;
  background-color: antiquewhite;
 

}
.profilePicture{
height:200.75px;
width:200.75px;
box-shadow: 0px 2px 15px 2px rgb(10, 8, 123);
border-radius: 50%;
}

.aboutContent{
width:375px;
padding:9.375px;
border-radius:6px;

}


.aboutContent h2{
    margin-bottom: 25.5px;
}

h2{
    font-size:70px;
    color: #7c6821;
    text-shadow: 1.5px 1px rgb(10, 8, 123);
}

.aboutContent .text{
    line-height:18.5px;
    padding: 4.5px 0;
  
}
p.text{
    margin-bottom:10px;
    color:  rgb(10, 8, 123)
}


.title{
   text-align: center;
   font-size: 35px;
    margin:0 auto;
    margin-bottom: 20px
   
} 
a:hover{
   color: #7c6821;
   text-decoration: underline;
   font-size: large;
  
}


@media only screen and (min-width: 768px){
    .wrapper{
        display:flex;
     align-items:center;
     justify-content:center;
     gap: 17.5 px;
    height:100vh;
     margin:auto;
      background-color: antiquewhite;
     
    
    }
    .profilePicture{
    height:337.5px;
    width:337.5px;
    box-shadow: 0px 2px 15px 2px rgb(10, 8, 123);
    border-radius: 50%;
    }
    
    .aboutContent{
    width:375px;
    padding:9.375px;
    border-radius:6px;
    
    }
    
    .aboutContent h2{
        margin-bottom: 25.5px;
    }
    
    h2{
        font-size:70px;
        color: #7c6821;
        text-shadow: 1.5px 1px rgb(10, 8, 123);
    }
    
    .aboutContent .text{
        line-height:25.5px;
        padding: 4.5px 0;
      
    }
    p.text{
        color:  rgb(10, 8, 123)
    }
    
    .title{
       text-align: center;
       font-size: 35px;
        margin:0 auto;
        margin-bottom: 20px
       
    } 
}  */