
.style{
    height:150vh;
    
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }
  
 .contactMeHeader{
    color: #68217C;
    text-align: center;
 }
  input[type=submit] {
    background-color: #04AA6D;
    width:50px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  .contactWrapper {
    border-radius: 5px;
    background-color:antiquewhite;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right:auto;
    width:70%
  }
 h1.heading{
   
    display:block;
    text-align: center;
    color:purple;
    padding:40px;
    margin-block-start:0.83em;
    margin-block-end: 0.83em;
    margin-inline-start:0px;
    margin-inline-end:0px;
  }
.contactDescription{
    font-size: large;
    font-weight: bold;
}
  .introContact{
    text-align:center;
  }

  .contact{
    position: relative;
    padding:5px 0px;
    display:flex;
    justify-content: center;
    align-items:center
  }


  @media screen and (max-width:375px){
    .contactWrapper{
        height:90vh;
        width:90vw;
    }
    .nav{
        margin-right: 3px;
        font-size:20px;
    }
   
  }

   
        
  
