.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
 
}
.pic{
  text-align:center
}
.profilePicture {
  height: 200px;
  width: 200px;
  /* margin-top:5px; */
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 15px 2px rgb(10, 8, 123);
  border-radius: 50%;
}
.aboutContent {
  padding: 5px;
  width: 250px;
  margin-top: 60px;
  height: 400px;
  margin-bottom: 350px;

  background-repeat: repeat;
}


h1 {
  margin-bottom: 25px;
  color: #7c6821;
  text-shadow: 1.5px 1px rgb(10, 8, 123);
  text-align:center;
}

.text,.contactDescription, .contactWrapper {
  margin-bottom: 40px;
  color: rgb(10, 8, 123);
}
a {
  color: #217c68;
  font-weight: 250;
  text-decoration: underline;
}
a:hover {
  color: #68217c;

  font-size: 20px;
}

.skillsList{
  margin-top:20px;
  padding:2px;
}
.techSkills{
  display:flex;
  padding:10px;
  color: #68217c;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.title{
margin-top:-95px;
}
.subTitle{
  color:#217c68;
  margin-bottom: 30px;
}

h1,h2 {
  padding: 10px;
  color: #7c6821;
}
.resumeContainer{
  
  text-align:center;
  justify-content: center;
  align-items:center;
}
.resume {
 background-color: #217C68;
 
 margin:0 10px;
 text-decoration:none;
 color:antiquewhite;
 border: 1px solid #7c6821;
 border-radius: 5px;
 padding: 2.5px 5px;
  
}
hr {
  display: flex;
  margin: 0 auto;
  align-items: flex-end;
  height: 2px;
  width: 50%;
  margin-top: 20px;
  border: solid 1px #7c6821;
  margin-bottom: 20px;
}

@media only screen and (min-width: 280px) {
  

  .profilePicture {
    height: 200.5px;
    width: 200.5px;
    margin-top: 60px;
    margin-bottom: 25px;
    box-shadow: 0px 2px 15px 2px rgb(10, 8, 123);
    border-radius: 50%;
  }

  .aboutContent {
    width: 375px;
    padding: 2.375px;
    text-align:center;
    border-radius: 6px;
  }
.title{
  margin-top: -20px;
  margin-bottom:-30px;
}
  .subTitle{

    margin-top:-5px;
  }
}

@media only screen and (min-width:540px){
  .title{
    margin-top: -20px;
  }
  .aboutContent {
    width: 575px;
    padding: 9.375px;
  
    border-radius: 6px;
  }
 
  
  }




