.nav{
    margin-right: 15px;
    margin-left:2px;
    font-size:20px;
    font-weight: 500;
    color: white;
    text-decoration:none;
   position:sticky;
    width:100%
}

.nav:hover{
    cursor:pointer;
    text-decoration:underline;
    color: rgb(10,8,123)
}

div.navbar{
   width:100%;
   position:fixed;
   top:0;
   right:0;
   height:50px;
   background-color: #cfac30;
}
