
.portfolioWrapper{ 
    width: 100vw;
   margin-right:20px auto;
    padding:5px;
    padding-right: 35px;
    margin-right:auto;
    margin-left:auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
h4{
    color:#217C68
}
.titleProjects{
  
    padding-top:-10px;
    text-align: center;
    display:block;
    color: #7c6821;
}
 header{
    padding:0 15px;
 }
.card{
    grid-auto-columns:1fr 200px; 
    display:inline-block; 
     vertical-align:middle;
    margin-top: 13px;
    grid-template-columns: repeat(3,1fr);
   color:rgb(10, 8, 123);
    background-color: antiquewhite; 
  margin-right: auto;
  margin-left:auto;
    width:420px;
    height:520px;
    margin:20px 10px;
  border: 2px solid antiquewhite;
  border-radius: 10px 10px 0px 0px;

  position:relative
 
  

}
h4{
    margin-bottom: 5px;
}


.cardContainer{
height:20px;
background-color: #68217C;

align-items: center;
display: flex;
}

.c{
    width:6px;
    height:6px;
    border-radius: 50%;
    margin:3px;
    background-color: antiquewhite;
}

.image, .travel-image{
    margin-top:5%;
    height:50%;
    width:70%;
    display:block;
    margin-left:auto;
   margin-right: auto;
   margin-bottom: 5%
}

.connect-links{
    margin-top:5px;
    display:flex;
    color:#217C68;
    margin-left:10px;
    text-align:center;
    justify-content: center;

}
.connect-icons{
    margin-left:15px
}

.hello{
    background-color: purple;
   color:white;
    padding:10px 32px;
    text-align:center;
    display:inline-block;
    font-size:medium;
    text-decoration:none;
  
}
.small{
    font-size:medium;
    color:white;
}
.portSubTitle{
    color:#7c6821
}

.helloSection{
    font-size: larger;
    color:rgb(10, 8, 123);
    padding-top:10px;
    padding-bottom:30px;
}
.hello:hover{
    color:goldenrod
}

.icons {
  
 
    width: 30px;
    height: 30px;
    color: purple;
    text-decoration-thickness: #217C68;
    font-weight: 200;
    padding:20px;
    
    
  
  }



  .bottom-wrapper{
   
    position:absolute;
  
    bottom:0;
    right:0;
  }

  @media only screen and (max-width:375px){
    
    
    .portfolioWrapper{
       width:100vw;
        justify-content: center;
        align-items: center;
        
    }
    .card{
        width:250px;
        height:480px;
    }
    .image{
        width:90%;
        height:30%
    }
    .travel-image{
        width:90%;
        height:30%
    }

    .stack{
        font-size: x-small;
        text-align: left;
    }
   
    }

    @media screen and (max-width:550px){
   
        .portfolioWrapper{
          
           width:110vw;
            justify-content: center;
            align-items: center;
            
        }
        h4{
            color:#217C68;
            justify-content:center;
            align-items:center;
            text-align:center;
        }
       
        header{
           text-align: center;
        justify-content: center;
         align-self: center;
       display:flex;
     
        }
        
       
      }

   

       @media only screen and (min-device-width:280px){
       .titleProjects{
        margin-top:145px;
       } 
       }
    
   
     @media only screen and (min-device-width: 342px) and (max-device-width: 537px) {
        .titleProjects{
         margin-top:80px
        }
     }
       @media only screen and (min-device-width: 539px) and (max-device-width: 949px) {
       .titleProjects{
        margin-top:0px
       }
    }
    

        @media only screen and (min-device-width:995px){
            .titleProjects{
                margin-top: 15px
            }
        }

        @media only screen and (min-device-width:1020px){
            .titleProjects{
                margin-top: 5px
            }
        }

 
     

  

  